<h1>Listing instances</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Owner</th>
  </tr>

<% @instances.each do |instance| %>
  <tr>
    <td><%=link_to instance.code, instance %></td>
    <td><%=h instance.name %></td>
    <td><%=h instance.owner %></td>
  </tr>
<% end %>
</table>