<h1>Listing guilds</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Zone</th>
  </tr>

<% @guilds.each do |guild| %>
  <tr>
    <td><%=link_to  guild.code, guild%></td>
    <td><%=h guild.name %></td>
    <td><%=h guild.zone %></td>
  </tr>
<% end %>
</table>
