<h1>Listing game_base_factions</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
  </tr>

<% @game_base_factions.each do |game_base_faction| %>
  <tr>
    <td><%=link_to game_base_faction.code, game_base_faction %></td>
    <td><%=h game_base_faction.name %></td>
  </tr>
<% end %>
</table>
