<p>
  <b>Code:</b>
  <%=h @game_base_faction.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @game_base_faction.name %>
</p>


<%= link_to 'Edit', edit_game_base_faction_path(@game_base_faction) %> |
<%= link_to 'Back', game_base_factions_path %>