  <tr>
    <td><%=link_to game_base_skill_reagent.code, game_base_skill_reagent %></td>
    <td><%=h game_base_skill_reagent.game_base_skill.name %></td>
    <td><%=h game_base_skill_reagent.game_base_item.name %></td>
    <td><%=h game_base_skill_reagent.quantity %></td>
  </tr>
