<h1>Listing items</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Icon</th>
    <th>Owner</th>
    <th>Name</th>
    <th>Item Level</th>
    <th>Stack Size</th>
  </tr>

<%=render :partial => @items%>
</table>