<h1>Listing game_base_skills</h1>

<table>
  <tr>
    <th>Icon</th>
    <th>Name</th>
    <th>Code</th>
    <th>School</th>
    <th>Cost</th>
    <th>Cooldown</th>
    <th>Casttime</th>
    <th>Duration</th>
    <th>Mechanic</th>
    <th>Dispel type</th>
  </tr>

<%= render @game_base_skills %>
</table>

<br />

<%= link_to 'New game_base_skill', new_game_base_skill_path %>