<h1>Listing chars</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Played time</th>
    <th>Parent</th>
  </tr>

<%= render resources %>

</table>

<br />

<%= link_to 'New char', new_char_path %>